/.idea/
/vendor/
public/info.php
/config.ini
/public/.well-known/
/backup.sh
/public/upgradeDb.php
/public/robots.txt
/logs/
/node_modules/
/public/js/classrooms.bundle.js
/propel/config.php
/propel/loadDatabase.php
/propel/propel.json
/public/js/enrollment.bundle.js
