{% extends 'base.html.twig' %}

{% block title %}Attend | Index{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="js/index.bundle.js"></script>
{% endblock %}

{% block styles %}
    {{ parent() }}
    <style>
        a.pdf {
            color: green;
            text-decoration: underline;
        }
    </style>
{% endblock %}

{% block main %}



    <header class="page-header">
        <h2>Overview</h2>
    </header>

    <section id="widgets">
        <section class="widget" id="summary-widget" style="width: 50%">
            <h3>The Week Ahead</h3>
            <table class="display compact strip">
                <thead>
                    <tr>
                        <th>Classroom</th>
                        <th>Mon</th>
                        <th>Tue</th>
                        <th>Wed</th>
                        <th>Thu</th>
                        <th>Fri</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </section>
    </section>

{% endblock %}

